.popup__input {
    padding: 0 0 13px;
    width: 358px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__input:focus {
    outline-color: rgb(0, 132, 255);
}

@media screen and (max-width: 767px) {
    .popup__input {
        width: 238px;
    }
}
