.profile {
    margin: 40px 0 0;
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width: 767px) {
    .profile {
        margin: 42px 0 0;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}
