.add-button {
    width: 150px;
    height: 50px;
    align-self: center;
    margin-left: auto;
    border: 2px solid white;
    padding: 13px 63px;
    box-sizing: border-box;
}

@media screen and (max-width: 767px) {
    .add-button {
        margin: auto;
        width: 88.125%;
        height: 50px;
        padding: 15px 41%;
    }
}
